*{
	margin: 0;
	padding: 0;
	font-family: verdana;
}


.navigasi {
	background-color: #F0A04B;
	width: 120%;
	height: 70px;
	color: black;
	position: fixed;
}


.logo {
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 30px;
}

.menu {
	margin-left: 500px;
	padding-top: 27px;
}


.menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}


.menu ul li a {
	text-decoration: none;
	color: black;
}

.menu ul li a:hover {
	color: brown;
	font-style: italic;
}


.icon {
	background-color: brown;
	height: 600px;
	text-align: center;
	color: white;
}

.icon img{
	border-radius: 700px;
	height: 150px;
	border:6px solid orange;
	margin-top: 100px

}

.icon h1{
	margin-top: 10px;
	margin-bottom: 10px;
}

.icon button {
	margin-top: 30px;
	padding: 10px;
	width: 400px;
	border-radius: 50px;
	border: none;
}

.box-pendidikan {
	text-align: center;
	background-color: #F1DBBF;
	color: black;
	width: 100%;
	height: 500px;
	margin-top: 0px;
	padding-top: 90px;
	padding-bottom: 10px;
	align-content: center;
}

.box-kiri, .box-tengah, .box-kanan img{
	border-radius: 70px;
	height: 120px;
	padding-top: 20px;
	padding-bottom: 10px;	
}


.box-kiri, .box-tengah, .box-kanan {
	width: 280px;
	height: 310px;
	background-color: brown;
	color: white;
	text-align: center;
	padding: 30px 10px;
	margin: 50px 20px 20px 80px;
	border-radius: 10px;
	float: left;
}

.box-pendidikan h3, p {
	margin-top: 10px;
	margin-bottom: 13px;
	padding: 0px 20px;
}

.bag-contact {
	text-align: center;
	background-color: brown;
	color: white;
	width: 100%;
	height: 500px;
	margin-top: 0px;
	padding-top: 90px;
	padding-bottom: 10px;
	align-content: center;
}

.email, .telepon img{
	border-radius: 50px;
	height: 120px;
	padding-top: 0px;
	padding-bottom: 0px;	
}

.bag-contact h3, p {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0px 20px;
}

.email, .telepon {
	width: 300px;
	height: 170px;
	text-align: center;
	background-color: white;
	color: brown;
	padding: 45px 10px;
	margin: 120px 15px 15px 190px;
	border-radius: 20px;
	float: left;
}

.aktivitas {
	text-align: center;
	background-color: #F1DBBF;
	color: black;
	width: 100%;
	height: 500px;
	margin-top: 0px;
	padding-top: 90px;
	padding-bottom: 10px;
	align-content: center;
}


.aktivitas-kiri, .aktivitas-kanan {
	width: 280px;
	height: 250px;
	background-color: brown;
	color: white;
	text-align: center;
	padding: 30px 10px;
	margin: 60px 20px 20px 210px;
	border-radius: 30px;
	float: left;
}

.aktivitas h3, p {
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 0px 20px;
}
